<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SuccessPlus</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/font-awesome/all.min.css">
  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/plugins/animate/animate.min.css">
  <link rel="stylesheet" href="/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

  <!-- Theme style -->
  <link rel="stylesheet" href="/css/adminlte.min.css">
  {{--  <link rel="stylesheet" href="/css/styles.css">
    --}}
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/mainWindows.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/plugins/toast/toastr.min.css">
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/toast/toastr.min.js"></script>


  
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">